#nav {
    display: block;
}

nav {
    margin-right: 30px;
    float: left;
    text-align: center;
    margin-top: 0;
    width: 15%;
    height: 100vh;
    display: block;
}

.nav{
    margin-top: 0;
    padding: 30px 0px;
    width: 100%;
    height: 20vh;
    background-color: #2b3467;
    border: none;
    border-bottom: 1px solid lightgray;
}

.nav:hover {
    background-color: #1D5D9B;
}

.nav:focus {
    background-image: linear-gradient(to right, #2b3467, #1D5D9B);
}

.iconNav{
    margin: 5px;
    margin-bottom: -7px;
    height: 25px;
}

#alunos{
    height: 20px;
    margin-bottom: -2px;
}

#hide {
    margin: 10px 5px;
    padding: 6px;
    float: right;
    background-color: #4F709C;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 5px;
}

#hide:hover{
    background-image: linear-gradient(to bottom, #4F709C, #1f62a5);
}

.line {
    margin: 3px;
    background-color: lightgray;
    border-radius: 3px;
    height: 4px;
    width: 70%;

}